.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 500;
    background-color: rgba(17, 16, 16, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-content {
    width: 350px;
    height: 280px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    background: #ffffff;
}

.item-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
}

.vector-text {
    padding-right: 20px;
}

.vector-img {
    width: 20px;
    height: 20px;
}

.text {
    padding-left: 10px;
    font-weight: 200;
}

.img-search {
    width: 15px;
    height: 16px;
}

.statistic {
    width: 352px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 60px;
}

.but-width {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #2196f3;
    width: 85px;
    height: 25px;
    padding: initial;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.messages-wrapper {
    border: 1px solid rgb(255, 254, 254);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.message {
    width: auto;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_list {
    width: auto;
    height: 45px;
    border: 1px solid gray;
    background-color: #2196f3;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    font-weight: bold;
}
.item-list {
    font-weight: bold;
    display: flex;
    min-width: 350px;
}
.right-name {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    min-width: 350px;
    border-left: 1px solid rgb(219, 219, 219);
    padding-left: 15px;
}

.left-name {
    font-weight: bold;
    color: #ffffff;
    min-width: 100px;
    border-left: 1px solid rgb(219, 219, 219);
    padding-left: 15px;
    margin-left: 15px;
}
.simbol-number {
    font-weight: bold;
    color: #ffffff;
    padding-left: 25px;
}
.item-detail {
    display: flex;
}

.index {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
}

.total-confirmed {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 60px;
    border-left: 1px solid rgb(219, 219, 219);
    padding-left: 15px;
}

.name-country {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    border-left: 1px solid rgb(219, 219, 219);
    padding-left: 15px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid white;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
    width: 400px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 175px;
}

.search-field {
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 25px;
}

.search-field:focus {
    outline: none;
}
